*.pyc
.cache
.tox
*.egg-info
.eggs
*.egg
dist
build
docs/_build
docs/_static
docs/talisker.rst
docs/modules.rst
env
lib
.coverage
htmlcov
.py2env
.ptest_cache
log
log.*
tests/django_app/django_app/static
tests/requirements.limbo.txt
talisker/logstash/test-config
talisker/logstash/test-results
.pytest_cache
