language: python
cache: pip
dist: trusty
sudo: false
matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: 3.5
      env: TOXENV=lint
    - python: 2.7
      env: TOXENV=lint-py2
    - python: 3.5
      env: TOXENV=docs
    - python: 3.5
      env: TOXENV=packaging
    - python: 3.5
      env: TOXENV=min-py35
    - python: 2.7
      env: TOXENV=min-py27
addons:
  apt:
    packages:
      - bzr
      - git
  addons:
    postgresql: "9.5"
before_script:
  - make db-setup
services:
  - redis-server
script: make travis
