include setup.py
include setup.cfg
include README.rst AUTHORS.rst CONTRIBUTING.rst HISTORY.rst LICENSE
recursive-include docs *.rst
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude scripts *
recursive-include talisker/logstash *.filter *.pattern
