include setup.py
include README.rst AUTHORS.rst CONTRIBUTING.rst HISTORY.rst LICENSE
recursive-include docs *.rst
recursive-exclude docs *
recursive-exclude tests *
exclude *
recursive-include talisker/logstash *.filter *.pattern
