include *.py
include *.rst
include *.txt
include LICENSE
include Makefile
include pytest.ini
include tox.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include talisker *.filter
recursive-include talisker *.pattern
recursive-include tests *.log
recursive-include tests *.py
recursive-include tests *.sh
