# these are pinned for repeatability, but updated by requires.io/pyup.io to be latest
pytest==3.7.2
freezegun==0.3.10
pytest-cov==2.5.1
pytest-postgresql==1.3.4
pytest-xdist==1.23.0
responses==0.9.0
setuptools==40.2.0

# for integration tests
eventlet==0.24.1
gevent==1.3.6
redis==2.10.6
SQLAlchemy==1.2.11
