# these are pinned for repeatability, but updated by requires.io/pyup.io to be latest
pytest==4.1.0
freezegun==0.3.11
pytest-cov==2.6.0
pytest-postgresql==1.3.4
pytest-xdist==1.25.0
pytest-timeout==1.3.3
responses==0.10.5
setuptools==40.6.3

# for integration tests
eventlet==0.24.1
gevent==1.3.7
redis==2.10.6  # pyup: < 3.0
SQLAlchemy==1.2.15
